<ion-content no-padding>
  <ion-buttons>
    <button
        ion-button
        *ngFor=" let page of pages "
        (tap)=" showTab(page.page) "
        [class.active]="(page.page.active)">
        {{ page.name }}
    </button>
  </ion-buttons>

  <ion-card no-padding no-margin class="itemButtonsDiv">
    <div class="itemButtons">
     <!--button ion-button  *ngFor=" let button of pageButtons " (tap)="itemClick(button);"
         [ngClass]="button.cssClass">

       {{ button.name }}
       &nbsp;
       <ion-icon name="play" *ngIf="!button.itemType"></ion-icon>
     </button-->
      <art-button *ngFor=" let button of pageButtons " [button]="button"></art-button>
    </div>
  </ion-card>
</ion-content>
