$green: #1bad63;
$lightgreen: #3bcd93;
$red: #cb3635;
$white: #ffffff;
$blackText: #232525;
$blackBox: #030203;

$liteblue: #98c7c4;
$blue: #387ef5;
$liteorange: #C05000;

$litegrey: #aba7a8;
$lightgrey: $litegrey;
$lightergrey: #efeff0;
$grey: #707060;
$darkgrey: #4b4b4b;

$roleP:#ffa800;
$roleD:#f40000;
$roleC:#0078ff;
$roleT:#ee5383;
$roleA:#0cb962;
$roleAll:$darkgrey;
