page-tavoli {
    .tables button {
        text-transform: none;
        min-width: 3.5em;
    }
    .tables button .smaller {
        display: none;
    }
    $table-empty: green;
    $table-menu: blue;
    $table-ordered: orange;
    $table-paid: red;
    $table-suspended: brown;
    $table-deleted: black;
    .tables button.tablebutton {
        &.state-0,
        &.state-6 {
            background: $table-empty;
            &:hover {
                background: lighten($table-empty, 20%);
            }
        }
        &.state-1 {
            background: $table-menu;
            &:hover {
                background: lighten($table-menu, 20%);
            }
        }
        &.state-2 {
            background: $table-ordered;
            &:hover {
                background: lighten($table-ordered, 20%);
            }
        }
        &.state-3 {
            background: $table-paid;
            &:hover {
                background: lighten($table-paid, 20%);
            }
        }
        &.state-4 {
            background: $table-suspended;
            &:hover {
                background: lighten($table-suspended, 20%);
            }
        }
        &.state-5 {
            background: $table-deleted;
            &:hover {
                background: lighten($table-deleted, 20%);
            }
        }
    }
}

.graphical .tablebutton {
    boxSizing: border-box;
    position: absolute;
}

.non-graphical .tablebutton {
    left: auto;
    top: auto;
    position: relative;
}