art-button {
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    position: relative;
    .barticle {
        background: green;
    }
    .bextra {
        background: #AA1164;
        box-shadow: 2px 2px 1px red, -2px -2px 1px red;
    }
    .barticle,
    .bextra {
        &.section-1 {
            background: #464646
        }
        &.section-2 {
            background: #690003
        }
        &.section-3 {
            background: #464679
        }
    }
    .price {
        color: #e0e020;
        position: absolute;
        right: 0;
        bottom: 0;
        font-weight: 100;
    }
}